@media (min-width: 640px) {
  .ember-application {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}

@media (max-width: 500px) {
  .ember-application {
    margin: 20px;
  }
}

@media (max-width: 990px) {
  .img-circle {
    float: left !important;
  }

  .contact-details {
    margin: 10px;
  }
}

.col-sm-9 {
  width: 100% !important;
}

body, .page-header {
  margin-left: 10px;
}

/*.nav {
  margin-top: 20px;
  margin-bottom: 20px;
}*/

.name-pic {
  margin-bottom: 20px;
}

.contact-email-phone {
  text-align: right;
}

.me {
  float: right;
  width: 90px;
  height: 90px;
}
